<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Qwik</title>
		<link rel="stylesheet" href="../vendors/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster|Crete+Round|Dancing+Script:700|Courgette|Bree+Serif|Orbitron|Kaushan+Script" rel="stylesheet" type="text/css">
		<link type="text/css" href="../styles/normalize.css" rel="stylesheet" media="all">
		<link type="text/css" href="../styles/ba.css" rel="stylesheet" media="all">
		<script src="../vendors/jquery/1.11.3/jquery.min.js"></script>
		<script src="../vendors/lodash/3.10.0/lodash.min.js"></script>
		<script src="../scripts/app/ba.js"></script>
	</head>
	<body>
		<header>
			<div class="logo fl"></div>
			<div class="app-title-24 fl">Qwik</div>
			<div class="clearfix"></div>
		</header>
		<section>
			<div class="labels">
				<!--<div class="labelHeading fl">Labels</div>-->
				<a class="addLabel fr" id="addLabel" href="#" title="Add Label">+</a>
				<div class="clearfix"></div>
				<ul class="labelsList"></ul>
			</div>
			<div class="addLabelForm"></div>
			<div class="labelDetails" style="display:none">
				<a href="#" class="btn backBtn fl fa fw fa-long-arrow-left" title="Back"></a>
				<div class="labelDetailHeading fl m-left-10"></div>
				<a class="addLabelDetail fr" id="addLabelDetail" href="#" title="Add Label Detail">+</a>
				<div class="clearfix"></div>
				<ul class="labelDetailsList"></ul>
			</div>
			<div class="addLabelDetailForm"></div>
		</section>
		<footer>
			<p class="copyright">&copy; 2015 Qwik</p>
		</footer>
	</body>
</html>
